body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul, ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.hero {
    background-color: #2E2F42;
}
.hero-title {
    color: #FFFFFF;
}