/* font-family: "Roboto",
sans-serif; */

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul, ol {
    list-style-type: none;
}
.link {
    text-decoration: none;
    color: #2E2F42;
}
.adress {
    text-decoration: none;
}
.link:hover,
.link:focus {
    text-decoration: none;
    color: #404BBF;
}
.link:active {
    color: #404BBF;
}
.adress-list .link {
    color: #434455;
}

.adress-list .link:hover,
.adress-list .link:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
}
.hero-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
}
.feature {
    color: #2E2F42;
    background-color: #FFFFFF;
}
.feature-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
}
.feature-list h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.feature-list p {
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.team {
    color: #2E2F42;
    background-color: #F4F4FD;
}
.team-title h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.team-title p {
    color: #2E2F42;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.name-one {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    text-transform: uppercase;
}
.name-two {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #2E2F42;
}
.name-two-footer {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
}
.portfolio {
    color: #2E2F42;
    background-color: #FFFFFF;
}
.hero-button {
    font-size: 16px;
    line-height: 1.5;
    background-color: #4D5AE5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}
.link-site {
    text-decoration: none;
}
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}